<div class="row">
  <div class="col-md-9">
    <h1>It's Party Time!</h1>
    <h2>Let's meet! It's easy!</h2>
  </div>
    <div class="col-md-3">
      <%= link_to "New Meet!", new_meet_path(), class: "btn btn-default" %>
    </div>
</div>
<div class="row">
  <div class="col-md-9">
    <h1 >all meeting</h1>
       <%= render partial: 'meet_list', locals: { meets: @meets } %>
   </div>
</div>

